# SPDX-FileCopyrightText: 2026 wavever
# SPDX-FileCopyrightText: 2026 KIM Hyunjae
# SPDX-License-Identifier: AGPL-3.0-or-later

# Managed by nix:
/.pre-commit-config.yaml
/treefmt.toml

# Build outputs:
/result*
/bin/
/dist/
*.out
coverage.out
*.test
